header {
  display: flex;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 10;
  position: fixed;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

div {
  border: 1px solid black;
}

.logo {
  color: MediumAquamarine;
  padding-left: 30px;
  flex-grow: 1;
  align-items: center;
  display: flex;
  border: 1px solid black
}

.content {
  padding-top: 116px;
  display: flex;
  width: 1232px;
}

.large {
  width: 630px;
  order: 1

}

.medium {
  width: 300px;
  order: 2
}

.small {
  width: 240px;
  order: 3
}

.large, .medium, .small {
  display: flex;
  flex-direction: column;
  margin-right: 32px;

  margin-top: 0;
}

.cats, .cameras, .earth {
  display: flex;
}



.cookie {
  overflow: hidden;
}
